{% extends 'base.html' %}

{% load static%}

{% block content %}

<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <img class="card-img-top my-3" src="{% static 'images/heat-pump-energy-saving.png' %}" alt="Card image cap">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>Differences between solar and air energy products

                 </p>
                <p>
                    1: What is the difference between solar water heaters and air source heat pump water heaters?
                    
                    The air source heat pump water heater unit uses air heat as energy, but the way it obtains energy is active, so it is not affected by day and night in cloudy and rainy days. The way solar water heaters obtain energy is passive. It relies on direct sunlight to have a better effect. Therefore, hot water can only be produced in sunny days. At other times, it must rely on traditional heating methods such as: electric heating assistance; diesel furnace assistance ; Gas furnace auxiliary; Air source heat pump water heater unit auxiliary, etc.
                </p>
                <p>
                    2: What are the advantages of air source heat pump hot water apparatus units compared with solar water heaters?
                    
                    Good power saving effect: the average power saving of air source heat pump hot water heater units is 65-80℅, and the average power saving of electric auxiliary solar water heaters is 40-65℅, and it can only reach 70℅ under special conditions. Smaller investment: Taking electricity saving 65℅ as the standard, the investment of air source heat pump hot water apparatus unit is only about 70℅ of the electric auxiliary solar water heater.
                    
                    Strong adaptability: The air source heat pump hot water apparatus unit is almost unaffected by the weather, producing hot water around the clock, regardless of wind or rain, day or night, 24 hours a day to produce and supply hot water. The solar water heater can only produce hot water on sunny days and is used in the afternoon and evening. In other weather and at night, the hot water in the morning needs to rely on other energy sources. In many parts of the country, the electric auxiliary device of the solar water heater needs to work for more than 40℅.
                    
                    The water storage tank is small: the water storage tank of the solar water heater should be configured according to the maximum hot water supply throughout the day, while the air source heat pump hot water heater unit can produce hot water at any time, and the water storage tank configuration is only 50% of the maximum hot water supply. ~70℅ can meet the requirements.
                    
                    Small footprint: solar water heaters often occupy the entire floor, and the floor area is not large enough for users above the 9th floor. The air source heat pump hot water generator unit system only needs 1/9 of the area of ​​the solar hot water generator unit.
                
                </p>
            </div>
            <a class="btn btn-primary justify-content-center" href="{% url 'home' %}">Back to Home</a>
        </div>
    </div>
</section>


{% endblock %}