{% extends 'base.html' %}

{% load static%}

{% block content %}
<section class="home-container">
  <div id="top">
    <div class="row">
      <div class="left-content col-sm-12 col-lg-4 px-0 mx-0">
        <div class="inner-content">
          <h4>Alvis Energy Solutions</h4>
          <h6>Goodbye oil and gas. Hello renewable heat</h6>
          <div class="main-white-button">
            <a href="{% url 'products' %}" class="active text-decoration-none text-white btn">Our Products</a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-lg-8 px-0 mx-0">
        <img src="{% static 'images/hero.jpeg' %}" class="d-block w-100 img-fluid" alt="heat pump">
      </div>

    </div>
  </div>
</section>

<section>
    <div class="card-group">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/air-source-heat-pumps.png' %}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">How does heat pump hot water system work?</h5>
            <p class="card-text">The whole cycle process is actually using the gas-liquid conversion of refrigerant substances to realize the conversion of heat from air to cold water</p>
          </div>
          <div class="card-footer">
            <small class="text-muted"><a class="text-decoration-none" href="{% url 'how_it_works' %}">See more info...</a></small>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="{% static 'images/how-long-heat-pump-last.png' %}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">How Long Does an Air Source Heat Pump Last?</h5>
            <p class="card-text">Service life of the air source heat pump For many new users, the service life of the air source heat pump is one of the most concerned issues besides the installation price.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted"><a class="text-decoration-none" href="{% url 'service_life' %}">See more info...</a></small>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="{% static 'images/heat-pump-energy-saving.png' %}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Differences Between Solar and Air Energy Products</h5>
            <p class="card-text">What is the difference between solar water heaters and air source heat pump water heaters?</p>
          </div>
          <div class="card-footer">
            <small class="text-muted"><a class="text-decoration-none" href="{% url 'energy_saving' %}">See more info...</a></small>
          </div>
        </div>
      </div>
</section>
{% endblock %}