{% extends 'base.html' %}

{% load static%}

{% block content %}
<section class="home-container">
    <div class="row">
        <div id="top">
            <div class="container-fluid">
                <div class="row px-0">
                    <div class="col-sm-12 col-lg-4 px-0">
                        <div class="left-content">
                            <div class="inner-content">
                                <h4>Alvis Energy Solutions</h4>
                                <h6>Goodbye oil and gas. Hello renewable heat</h6>
                                <div class="main-white-button">
                                    <a href="" class="active">Our Products</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="carouselExampleSlidesOnly" class="col-lg-8 carousel slide px-0" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="{% static 'images/hero.jpeg' %}" class="d-block w-100 img-fluid" alt="heat pump">
                            </div>
                            <!-- <div class="carousel-item">
                                <img src="" class="d-block w-100" alt="Dog pic 2">
                            </div>
                            <div class="carousel-item">
                                <img src="" class="d-block w-100" alt="Dog pic 3">
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="card-group">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/air-source-heat-pumps.png' %}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">How does heat pump hot water system work?</h5>
            <p class="card-text">The whole cycle process is actually using the gas-liquid conversion of refrigerant substances to realize the conversion of heat from air to cold water</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="{% static 'images/how-long-heat-pump-last.png' %}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">How Long Does an Air Source Heat Pump Last?</h5>
            <p class="card-text">Service life of the air source heat pump For many new users, the service life of the air source heat pump is one of the most concerned issues besides the installation price.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="{% static 'images/heat-pump-energy-saving.png' %}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Differences Between Solar and Air Energy Products</h5>
            <p class="card-text">What is the difference between solar water heaters and air source heat pump water heaters?</p>
          </div>
          <div class="card-footer">
            <small class="text-muted"><a href="{% url 'energy_saving' %}">See more info...</a></small>
          </div>
        </div>
      </div>
</section>
{% endblock %}