@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

.row {
  padding: 0;
  margin: 0;
}

.text-offwhite {
  color: #F0D5C0;
}

.navbar-nav > .active > a {
  color: #DC7364;
}

a:hover {
  color: #DC7364;
}

a:active {
  color: #DC7364;
}

.nav-img {
  padding-left: 2rem;
  max-width: 400px;
  max-height: 100px;
}

.footer-img {
  padding-left: 2rem;
  max-width: 250px;
  max-height: 60px;
}

#nav-title {
  font-family: 'Yeseva One', cursive;
}

nav {
  background-color: #094275;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
  margin-right: 0;
  margin-bottom: 0;
}

#top .left-content {
    background-color: #5681ba;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  #top .left-content .inner-content {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
  }
  
  #top .left-content h4 {
    font-family: 'Dancing Script', cursive;
    color: #DC7364;
    font-size: 54px;
    font-weight: 700;
  }
  
  #top .left-content h6 {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    letter-spacing: 3px;
    margin-top: 5px;
  }
  
  #top .left-content .main-white-button  {
    margin-top: 25px;
    margin-bottom: 10px;
  }
  
  #top .left-content .main-white-button a {
    display: inline-block;
  }
  
  #top .left-content .inner-content {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
  }
  
  .main-back-button a {
    font-size: 13px;
    background-color: #5681ba;
    padding: 12px 25px;
    display: inline-block;
    border-radius: 3px;
    font-weight: 600;
    transition: all .3s;
  }

  #footer {
    text-align: center;
    background-color: #094275;
  }

  @media (max-width: 993px) {
    #top {
        padding-top: 0;
        height: auto;
    }
    #top .left-content {
        text-align: center;
        padding: 25% 0px;
    }

    footer p {
        font-size: 12px;
    }
}

@media (max-width: 1100px) {
    #top .left-content h4 {
        font-size: 40px;
    }
}

@media (max-width: 440px) {
  .nav-img {
    padding-left: 1rem;
    max-width: 300px;
    max-height: 70px;
  }
}

@media (max-width: 280px) {
  .nav-img {
    padding-left: 1rem;
    max-width: 200px;
    max-height: 50px;
  }
}

/* 
---------------------------------------------
Contact
--------------------------------------------- 
*/

.contact-information {
background-color: #5681ba;
border: 1px solid #5681ba;
color: white;
padding: 30px;
border-radius: 8px;
}

.opening-hours {
background-color: #5681ba;
border: 1px solid #5681ba;
color: white;
padding: 30px;
border-radius: 8px;
margin: 0 auto;
width: 60%;
text-align: center;
}

.contact-form {
padding: 20px;
background-color: white;
margin-bottom: 2rem;
}

h3 {
color: #5681ba;
text-align: center;
}

#location {
text-align: center;
}

/* 
---------------------------------------------
Products
--------------------------------------------- 
*/

.product-card {
  max-height: 400px;
}